.introduction {
  position: relative;
  grid-row: 3/4;
  width: 800px;
  height: auto;
  background-color: #fff;
  justify-self: center;
  align-self: center;
  margin: 2rem;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);

  @media only screen and (max-width: $bp-large) {
    width: 600px;
    height: auto;
  }
  @media only screen and (max-width: $bp-small) {
    grid-row: 2/3;
    justify-content: center;
    width: 450px;
    height: auto;
    flex-direction: column;
  }
  @media only screen and (max-width: $bp-smallest) {
    grid-row: 2/3;
    justify-content: center;
    width: 360px;
    height: auto;
    flex-direction: column;
  }

  & a {
    display: inline;
    text-decoration: none;
    color: $color-blue;
    cursor: pointer;
  }

  &__text p {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 200;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      font-size: 2.2rem;
      line-height: 2.6rem;
    }
  }

  &__text h1 {
    color: $color-blue;
  }
  &__choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
      font-weight: bolder;
    }
  }
  &__set {
    background-color: $color-blue;
    height: 30px;
    width: 50px;
    border-radius: 8px;
    margin: 1rem 0;
    color: $color-white;
    text-transform: uppercase;
    border: none;
    box-shadow: $box-shadow-large;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: $box-shadow-small;
    }
  }
}

.links {
  margin-top: 3rem;
}
