.sense {
  grid-row: 1/2;
  background-color: $color-blue;
  width: 800px;
  margin: 2rem auto;

  @media only screen and (max-width: $bp-large) {
    width: 600px;
    height: auto;
  }

  @media only screen and (max-width: $bp-small) {
    width: 360px;
    height: auto;
  }
}

.sense-bottom {
  grid-row: 5/6;
  background-color: $color-blue;
  width: 800px;
  margin: 2rem auto;

  @media only screen and (max-width: $bp-large) {
    width: 600px;
    height: auto;
  }

  @media only screen and (max-width: $bp-small) {
    width: 360px;
    height: auto;
  }
}
