.littlebut {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: $color-halloween-orange;
  position: absolute;
  font-size: 2rem;
  top: 0;
  left: 390px;
  filter: brightness(95%);
}

.littlebut:hover {
  filter: brightness(100%);
}